<p>Verlinken!</p>
    <p>
        <strong>Wird die ganze Stelle verlinkt?</strong> (vgl. Kap. 7,9 [d.h. Pred 7,9]).
        <br />und in der Liebe und in der Heiligung samt der Zucht. (1. Timotheus 2,9-15)
        <br />werden und zur Erkenntnis der Wahrheit kommen (1Tim 2,4).
        <br />einher (Mk 12,38; Lk 20,46).
        <br />beschrieben (Offb 6,11; 7,9.13.14)
        <br />Im Gegensatz zu 1Mo 3,21 wird
        <br /><strong>Hier gibts ein Multibyte</strong> Wille Gottes ist. (Römer 12,1-2   - nach Elberfelder CSV)
        <br /><strong>"und" nicht verlinken!</strong> Bezug auf den Herrn Jesus in Lk 9,29 und Joh 19,24. Wir
        <br />und was ist mit Apg 12,18- 13,24?
        <br />wir in Apg 12,18-24 nachlesen.
        <br />(Elberfelder CSV) aus Jes 61,3.
        <br />1) Lukasevangelium 12,16-19 2) Lukasevangelium 12,20 3) Lukasevangelium 12,21
        <br />Es steht in Römer 13 und 1. Petrus 2!
        <br />wurde (1Mo 37,34; 2Sam 3,31; 21,10; u.v.m.).
        <br />mit der Eingabe "Jak 2,2 bzw." wird nun korrekt umgegangen.
        <br />Stellenabfolge "Hesekiel 27,36 /28,19" und Hesekiel 27,36 /28,19 wird auch korrekt verarbeitet.
        <br />Stellenabfolge "Joh 2 & 3" und Joh 2 & 3 wird auch erkannt (#21).
        <br />Versabfolge Lk 2,2;12,2-13,1 (#3) und Lk 2; 4,1 (#8) werden korrekt angezeigt.
        <br />1Kor 1,10; 3,18.21; 4,1.5.16; 5,6.7.9.11.13; 6,9.18.20; 7,2.3.5.10.11.12-15.16.20.23.18.21.27.23.29.30.31; 8,9; 9,9; 10,7.8.9.10.14.24.25.27.28.31.32; 11,1.3.6.7.10.13.33.34; 12,31; 14,1.12.13.20.26.27.28.29.30.34.35.39.40; 15,33.34.58; 16,1.2.10.11.13.14.16.18.20
        <br />Röm 6,11.12.13.19; 10,6; 11,25a; 12,1.2.3.6.7.8.9.10.11.12.13.14.15.16.17.18.19.20.21; 13,1.3.4.7.9.11.12.13.14; 14,1.3.5.13.16.19.20.22; 15,1.2.7.30; 16,3.5.6.7.8.9.10.11.12.13.14.15.16.17
        <br />Und wie funktioniert Lukas 12,1 und 13,5 sowie 15,1?
        <br />1Joh 2,15.28.29; 3,7.13; 4,7; 5,16.21; 2Joh 1,5.6.11; 3Joh 1,8.11
    </p>
    <br />

<p>Nicht verlinken!</p>
    <p>
        Am 14.05. wurde ich geboren, um genau zu sein am 14.05.1990 oder anders geschreiben am 14. Mai 1990.
        Am 26. Dezember habe ich diesen Text geschreiben, um 4:54 Uhr
        Lukas 1000 gibt es nicht; auch nicht Ob 1,22!
    </p>